@import './Variable.scss';

footer {

  .footer__container {
    padding: 1rem 5%;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 2rem;
      }

      p {
        font-size: $normal-fs;
        text-align: center;
        letter-spacing: 1px;
        display: flex;
        gap: .2rem;
        color: $body-c;

        a {
          letter-spacing: 1px;
        }
      }
    }
  }

  &.dark {
    background-color: $title-c;

    .footer__container {
      .content {
        p {
          color: $body-c;

          a {
            color: $body-c;
          }
        }
      }
    }
  }

  &.light {
    background-color: $body-c;

    .footer__container {
      .content {
        p {
          color: $title-c;

          a {
            color: $title-c;
          }
        }
      }
    }
  }
}

.top {
  position: fixed;
  bottom: 40px;
  color: $body-c;
  left: -100%;
  width: 40px;
  height: 40px;
  background-color: $primary-c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 2s ease-in-out;
  z-index: 10;
  cursor: pointer;
  animation: top 2s linear infinite;

  @keyframes top {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(0, -8px);
    }
  }

  .icon {
    font-size: 2rem;
  }
}

.arrow {
  left: 15px;
}