@import './Variable.scss';

//======================== Home ========================//
.home {
  position: relative;
  min-height: 80vh;

  @media only screen and (max-width: 468px) {
    min-height: 0;
  }

  .home__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .home__data {
      display: flex;
      justify-content: space-around;
      gap: 2rem;

      @media only screen and (max-width: 992px) {
        flex-direction: column;
        align-items: center;
      }

      @media only screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .home__text {
        display: flex;
        flex-direction: column;

        .home__icons {
          display: flex;
          justify-content: center;
          margin-top: 10rem;

          @media only screen and (max-width: 768px) {
            margin-top: 2rem;
          }

          h3 {
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: $h1-fs;
            margin-bottom: 1rem;
            letter-spacing: 2px;
            font-weight: 600;

            i {
              font-size: $h1-fs;
              font-weight: 600;
            }
          }
        }

        .home__title {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-top: 5rem;

          @media only screen and (max-width: 768px) {
            margin-top: 2rem;
          }

          h1 {
            font-size: $big-fs;
            max-width: 80%;
            text-align: center;
            margin-bottom: 2rem;
          }

          span {
            font-size: $normal-fs;
            font-weight: 600;
            letter-spacing: 1.5px;
          }
        }
      }

      .home__img {
        img {
          position: absolute;
          top: 0;
          right: 0;
          width: 40%;
          object-fit: cover;
          background-size: cover;
          height: 650px;
          border-bottom-left-radius: $br-12;
          overflow: hidden;

          @media only screen and (max-width: 992px) {
            width: 100%;
            border-bottom-left-radius: 0;
            margin-top: 2rem;
            border-radius: $br-12;
            position: relative;
          }

          @media only screen and (max-width: 468px) {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-bottom-left-radius: 0;
            border-radius: 0;
            top: 0;
            left: 0;
            object-fit: cover;
            margin-top: 0;
          }
        }
      }
    }

    &.dark {
      .home__data {

        .home__text {

          .home__icons {
            h3 {
              color: $primary-c;

              i {
                color: $primary-c;
              }
            }
          }

          .home__title {

            h1 {
              color: $body-c;
            }

            span {
              color: $body-c;
            }
          }
        }
      }
    }

    &.light {
      .home__data {

        .home__text {

          .home__icons {
            h3 {
              color: $primary-c;

              @media only screen and (max-width: 468px) {
                color: $body-c;
              }

              i {
                color: $primary-c;

                @media only screen and (max-width: 468px) {
                  color: $body-c;
                }
              }
            }
          }

          .home__title {

            h1 {
              color: $title-c;

              @media only screen and (max-width: 468px) {
                color: $body-c;
              }
            }

            span {
              color: $title-c;

              @media only screen and (max-width: 468px) {
                color: $body-c;
              }
            }
          }
        }
      }
    }
  }
}

//======================== Form ========================//
aside {
  width: 90%;
  margin: 0 auto;
  height: 180px;
  background-color: $primary-c;
  padding: 1rem;
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $br-12;
  flex-wrap: wrap;

  @media only screen and (max-width: 992px) {
    width: 90%;
    height: 100%;
    margin-top: 0;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    border-radius: 0;
    height: 100%;
  }

  .aside__container {

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .form__type {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 3rem;

        @media only screen and (max-width: 992px) {
          flex-wrap: wrap;
          row-gap: 2rem;
        }

        @media only screen and (max-width: 768px) {
          flex-wrap: wrap;
          gap: 2rem;
        }

        input {
          padding: 1rem;
          border-radius: $br-6;
          border: none;
          outline: none;
          font-size: $normal-fs;
          letter-spacing: 1px;
          font-weight: 600;
          width: 190px;
          margin-top: 1rem;

          @media only screen and (max-width: 992px) {
            width: 170px;
          }

          @media only screen and (max-width: 768px) {
            width: 250px;
          }

          @media only screen and (max-width: 468px) {
            width: 100%;
          }
        }
      }
    }

    .btn {
      button {
        padding: 1rem;
        border-radius: $br-6;
        border: none;
        outline: none;
        font-size: $normal-fs;
        letter-spacing: 1px;
        font-weight: 600;
        width: 200px;
        background-color: $body-c;
        color: $title-c;
        margin-top: 2rem;
        cursor: pointer;

        @media only screen and (max-width: 992px) {
          width: 150px;
        }
      }
    }

    &.dark {
      form {
        .btn {
          button {
            background-color: $body-c;
            color: $title-c;
          }
        }
      }
    }

    &.light {
      form {
        .btn {
          button {
            background-color: $title-c;
            color: $body-c;
          }
        }
      }
    }
  }
}

//======================== Management ========================//
.management {
  .management__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      display: flex;
      justify-content: space-evenly;
      gap: 2rem;

      @media only screen and (max-width: 320px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .management__title {
        &:nth-child(1) {
          max-width: 20%;

          @media only screen and (max-width: 320px) {
            max-width: 100%;
          }

          h2 {
            color: $primary-c;
            font-size: $h1-fs;

            @media only screen and (max-width: 468px) {
              font-size: $normal-fs;
            }
          }
        }

        &:nth-child(2) {
          max-width: 70%;

          @media only screen and (max-width: 320px) {
            max-width: 100%;
          }

          h2 {
            font-size: $normal-fs;

            @media only screen and (max-width: 320px) {
              font-size: $tiny-fs;
            }
          }
        }
      }
    }

    .management__img {
      display: flex;
      justify-content: space-evenly;
      margin-top: 2rem;
      gap: 1rem;

      @media only screen and (max-width: 320px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
      }

      .img {
        img {
          width: 500px;
          border-radius: $br-12;
          height: 250px;
          transition: all .5s ease-in-out;
          cursor: pointer;
          object-fit: cover;
          overflow: hidden;

          &:hover {
            opacity: 0.5;
            transform: scale(1.1);
          }

          @media only screen and (max-width: 992px) {
            width: 360px;
          }

          @media only screen and (max-width: 768px) {
            width: 100%;
            height: 200px;
          }

          @media only screen and (max-width: 320px) {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    &.dark {
      .heading {
        .management__title {
          &:nth-child(2) {
            h2 {
              color: $body-c;
            }
          }
        }
      }
    }

    &.light {
      .heading {
        .management__title {
          &:nth-child(2) {
            h2 {
              color: $title-c;
            }
          }
        }
      }
    }
  }
}

//======================== Penawaran ========================//
.featured {
  .featured__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      margin-bottom: 1.5rem;

      h2 {
        font-size: $h1-fs;
        color: $primary-c;
      }
    }

    .box__featured {
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      @media only screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2.5rem;
      }

      @media only screen and (max-width: 320px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .box {
        width: 350px;
        height: 300px;
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: $br-6;
        border-bottom-right-radius: $br-6;
        overflow: hidden;

        @media only screen and (max-width: 992px) {
          width: 100%;
        }

        img {
          width: 100%;
          height: 180px;
          object-fit: cover;
          transition: transform 0.5s ease-in-out;

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }

        .text {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 2rem 5%;
          text-align: center;

          h2 {
            font-size: $normal-fs;
            margin-bottom: 1rem;
            letter-spacing: 1px;
            font-weight: 600;
          }

          p {
            font-size: $tiny-fs;
            font-weight: 400;
          }
        }
      }
    }

    &.dark {
      .box__featured {
        .box {
          background-color: $body-c;
        }
      }
    }

    &.light {
      .box__featured {
        .box {
          background-color: $title-c;
          color: $body-c;
        }
      }
    }
  }
}

//======================== Questions ========================//

.questions {
  background-color: #5D4F35;

  .question__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      margin-bottom: 2rem;

      h1 {
        font-size: $h1-fs;
        color: $primary-c;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      @media only screen and (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 3rem;
      }

      @media only screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (max-width: 468px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .box {
        width: 350px;
        height: 150px;
        border-radius: $br-6;
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $body-c;

        @media only screen and (max-width: 768px) {
          width: 100%;
        }

        h2 {
          font-size: $h1-fs;
          margin-bottom: 1rem;
          font-weight: 600;
          letter-spacing: 1px;
          color: $title-c;
        }

        p {
          font-size: $tiny-fs;
          font-weight: 400;
          letter-spacing: 1px;
          color: $title-c;
        }
      }
    }
  }
}

//======================== Client ========================//
.client {

  .client__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      h1 {
        font-size: $h1-fs;
        color: $primary-c;
        letter-spacing: 1px;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      @media only screen and (max-width: 468px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (max-width: 320px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .box {
        width: 350px;
        height: 200px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: relative;

        @media only screen and (max-width: 992px) {
          width: 100%;
        }

        @media only screen and (max-width: 768px) {
          height: 300px;
        }

        i {
          font-size: $big-fs;
          margin-bottom: .5rem;
        }

        h3 {
          font-size: $normal-fs;
          font-weight: 400;
          margin-bottom: 1rem;
        }

        span {
          font-size: $h1-fs;
          font-weight: 600;
          letter-spacing: 1px;
          font-style: italic;
        }

        .row {
          position: absolute;
          width: 20%;
          height: 3px;
          bottom: 10px;
          border-radius: $br-12;
        }
      }
    }
  }

  &.dark {
    .content {
      .box {
        i {
          color: $body-c;
        }

        h3 {
          color: $body-c;
        }

        span {
          color: $body-c;
        }

        .row {
          background-color: $body-c;
        }
      }
    }
  }

  &.light {
    .content {
      .box {
        i {
          color: $title-c;
        }

        h3 {
          color: $title-c;
        }

        span {
          color: $title-c;
        }

        .row {
          background-color: $title-c;
        }
      }
    }
  }
}

//======================== Kontak ========================//
.kontak {
  .kontak__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      h1 {
        color: $primary-c;
        font-size: $big-fs;
        letter-spacing: 1px;
        font-weight: 600;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      margin-top: 2rem;

      @media only screen and (max-width: 468px) {
        flex-direction: column;
      }

      .box__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        background-color: transparent;
        height: 400px;
        justify-content: center;
        border: 2px solid $primary-c;

        @media only screen and (max-width: 468px) {
          width: 100%;
          order: 2;
        }

        .box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 150px;
          position: relative;

          h3 {
            font-size: $h1-fs;
            margin-bottom: 1rem;
            letter-spacing: 1px;
          }

          a {
            font-size: $normal-fs;
            letter-spacing: 1px;
          }

          &::after {
            position: absolute;
            content: '';
            width: 100%;
            background-color: $primary-c;
            height: 3px;
            bottom: 0;
          }
        }

        .social {
          display: flex;
          align-items: center;
          gap: 2rem;
          margin-top: 2rem;

          a {
            font-size: $normal-fs;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary-c;
            border-radius: 50%;
            transition: background-color .3s ease-in-out;
            overflow: hidden;

            &:hover {
              background-color: transparent;
              border: 1px solid $primary-c;
            }
          }
        }
      }

      .img {
        width: 50%;

        @media only screen and (max-width: 468px) {
          width: 100%;
        }

        img {
          width: 100%;
          height: 400px;
          object-fit: cover;

          @media only screen and (max-width: 468px) {
            height: 300px;
          }
        }
      }
    }

    &.dark {
      .content {
        .box {
          h3 {
            color: $body-c;
          }

          a {
            color: $body-c;
          }
        }

        .social {
          a {
            color: $body-c;
          }
        }
      }
    }

    &.light {
      .content {
        .box {
          h3 {
            color: $title-c;
          }

          a {
            color: $title-c;
          }
        }

        .social {
          a {
            color: $title-c;
          }
        }
      }
    }
  }
}