@import './Variable.scss';

.about {

  .about__container {
    margin-top: 3rem;
    padding: 1rem 3%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: $big-fs;
        letter-spacing: 1px;
        margin-bottom: 1rem;
        font-weight: 600;
        color: $primary-c;
      }

      p {
        font-size: $normal-fs;
        letter-spacing: 1px;
        text-align: center;
        line-height: 1.5;
      }
    }

    .content {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;

      @media only screen and (max-width: 992px) {
        justify-content: space-around;
      }

      @media only screen and (max-width: 320px) {
        flex-direction: column;
        align-items: center;
      }

      .img {
        margin-bottom: 2rem;
        overflow: hidden;
        width: 100%;

        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
          opacity: .5;
          cursor: pointer;
          transition: all .5s ease-in-out;

          @media only screen and (max-width: 992px) {
            width: 100%;
          }

          @media only screen and (max-width: 768px) {
            height: 300px;
          }

          @media only screen and (max-width: 468px) {
            height: 250px;
          }
        }

        &:hover {
          img {
            opacity: 1;
            transform: scale(1.1);
          }
        }
      }
    }

    .penawaran {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      @media only screen and (max-width: 320px) {
        flex-direction: column;
      }

      .box__content {
        width: 50%;
        position: relative;

        @media only screen and (max-width: 320px) {
          width: 100%;
        }

        .string {
          position: absolute;
          width: 100%;
          top: 0;
          background-color: $primary-c;
          height: 3px;
          border-radius: $br-12;
          z-index: -1;
        }

        h1 {
          font-size: $h1-fs;
          margin-top: 3rem;
          letter-spacing: 1px;
          font-weight: 600;
          margin-bottom: 3rem;
        }

        p {
          font-size: $normal-fs;
          letter-spacing: 1px;
          line-height: 1.5;
          font-weight: 400;
        }
      }
    }

    .services {
      margin-top: 5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 3rem;
      padding: 1rem;
      height: 260;
      width: 100%;
      border-radius: $br-12;

      @media only screen and (max-width: 468px) {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
      }

      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;


        @media only screen and (max-width: 468px) {
          align-items: start;
        }

        .row {
          position: absolute;
          width: 60%;
          height: 3px;
          bottom: -5px;
          border-radius: $br-12;

          @media only screen and (max-width: 468px) {
            bottom: -5px;
            width: 80%;
          }
        }

        h3 {
          display: flex;
          gap: .3rem;
          font-size: $h1-fs;
          font-weight: 600;

          @media only screen and (max-width: 468px) {
            font-size: $h1-fs;
          }
        }

        h1 {
          font-size: $normal-fs;
          margin-bottom: 1rem;
        }
      }
    }

    &.dark {
      .heading {
        p {
          color: $body-c;
        }
      }

      .penawaran {
        .box__content {
          h1 {
            color: $body-c;
          }

          p {
            color: $body-c;
          }
        }
      }

      .services {
        background-color: $body-c;

        .box {
          h1 {
            color: $title-c;
          }

          .row {
            background-color: $primary-c;
          }

          h3 {
            color: $title-c;
          }
        }
      }
    }

    &.light {
      .heading {
        p {
          color: $title-c;
        }
      }

      .penawaran {
        .box__content {
          h1 {
            color: $title-c;
          }

          p {
            color: $title-c;
          }
        }
      }

      .services {
        background-color: $primary-c;

        .box {
          h1 {
            color: $body-c;
          }

          .row {
            background-color: $body-c;
          }

          h3 {
            color: $body-c;
          }
        }
      }
    }
  }
}

.gallery {
  .gallery__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      margin-bottom: 3rem;
      margin-top: 2rem;

      h1 {
        font-size: $big-fs;
        color: $primary-c;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
      }
    }

    .content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media only screen and (max-width: 468px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (max-width: 320px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .img {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 280px;
          opacity: .5;
          object-fit: cover;
          transition: all .5s ease-in-out;
          cursor: pointer;

          @media only screen and (max-width: 992px) {
            height: 250px;
          }

          @media only screen and (max-width: 768px) {
            height: 200px;
          }
        }

        &:hover {
          img {
            transform: scale(1.1);
            opacity: 1;
          }
        }
      }
    }

    .model {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, .25);
      backdrop-filter: blur(10px);
      transition: all .5s ease-in-out;
      z-index: 999;
      opacity: 0;
      visibility: hidden;

      &.open {
        opacity: 1;
        visibility: visible;
      }

      img {
        width: 600px;
        height: 500px;
        object-fit: cover;

        @media only screen and (max-width: 768px) {
          width: 400px;
          height: 400px;
        }

        @media only screen and (max-width: 468px) {
          width: 300px;
          height: 300px;
        }
      }

      .close {
        position: absolute;
        top: 4rem;
        color: $primary-c;
        right: 2rem;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }
}

.team {
  .team__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      text-align: center;
      margin-bottom: 2rem;

      @media only screen and (max-width: 468px) {
        margin-top: 3rem;
      }

      h1 {
        font-size: $big-fs;
        color: $primary-c;
        letter-spacing: 1px;

        @media only screen and (max-width: 468px) {
          font-size: $h1-fs;
          max-width: 80%;
          margin: 0 auto;
        }
      }
    }

    .team__box {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      @media only screen and (max-width: 992px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
      }

      @media only screen and (max-width: 320px) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3rem;
      }

      .box {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        text-align: center;

        .img {
          width: 100%;

          img {
            width: 100%;
            object-fit: cover;
            height: 400px;
            border: 5px solid $primary-c;
            border-radius: 100%;

            @media only screen and (max-width: 768px) {
              height: 330px;
            }

            @media only screen and (max-width: 468px) {
              height: 200px;
            }

            @media only screen and (max-width: 320px) {
              height: 280px;
            }
          }
        }

        .text {
          margin-top: 1rem;

          h2 {
            font-size: $h1-fs;
            letter-spacing: 1px;
            margin-bottom: .5rem;
            margin-top: 1rem;
            font-weight: 600;
          }

          p {
            font-size: $normal-fs;
            letter-spacing: .5px;
          }
        }
      }
    }

    &.dark {
      .team__box {
        .box {
          .text {
            h2 {
              color: $body-c;
            }

            p {
              color: $body-c;
            }
          }
        }
      }
    }

    &.light {
      .team__box {
        .box {
          .text {
            h2 {
              color: $title-c;
            }

            p {
              color: $title-c;
            }
          }
        }
      }
    }
  }
}

.notfound {
  .notfound__container {
    padding: 1rem 5%;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        width: 100%;
        height: 350px;
        margin-bottom: 2rem;
      }

      h2 {
        font-size: $h1-fs;
        letter-spacing: 1px;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      a {
        font-size: $normal-fs;
        width: 150px;
        height: 50px;
        background-color: $primary-c;
        border-radius: $br-6;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $body-c;
      }
    }

    &.dark {
      .box {
        h2 {
          color: $body-c;
        }
      }
    }

    &.light {
      .box {
        h2 {
          color: $title-c;
        }
      }
    }
  }
}